.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
.idea/
*.sln.iml
.vscode/
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
bin/
obj/
*.userprefs
appsettings.*.json
!appsettings.json
.env
.env.local
.env.*.local
**/localhost.pfx
*.pfx.password
.DS_Store
.AppleDouble
.LSOverride
*~
*.log
logs/
.dockerignore
docker-compose.override.yml
swagger.json
/Uploads/
/Temp/
/App_Data/Uploads/
TestResults/
*.trx
*.testsettings
*.coverage
coveragereport/
node_modules/
wwwroot/dist/